<!doctype html>
<html class="no-js" ng-app="natchApp">
  <head>
    <meta charset="utf-8">
    <title>natch</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/onsenui/build/css/onsenui.css">
    <link rel="stylesheet" href="bower_components/onsenui/build/css/onsen-css-components.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="AppController">
    <ons-toolbar modifier="transparent">
      <div class="left" style="color:#cdcdcd;" ng-click="navi.pushPage('conn.html')"><ons-icon icon="fa-cog" size="2x"></ons-icon></div>
      <div class="center" style="color:#cdcdcd;" ng-click="navi.resetToPage('fav.html')"><img src="images/natch_logo-01.svg" style="height:60%; margin-top:6px;"></div>
      <div class="right" style="color:#cdcdcd;" ng-click="navi.pushPage('home.html')"><ons-icon icon="fa-star" size="2x"></ons-icon></div>
    </ons-toolbar>

    <ons-navigator var="navi" animation="fade" page="fav.html"></ons-navigator>

    <ons-template id="home.html">
      <ons-page>
        <natch-favourites></natch-favourites>
      </ons-page>
    </ons-template>

    <ons-template id="fav.html">
      <ons-page>
        <natch-voter></natch-voter>
      </ons-page>
    </ons-template>

    <ons-template id="conn.html">
      <ons-page>
        <natch-connect></natch-connect>
      </ons-page>
    </ons-template>

    <script type="text/ng-template" id="notification.html">
      <ons-row style="border-radius:12px;width:80%; background:#fff; margin:10% auto 0; padding:3% 0 3.5%; border-top:3px solid #cf9714;">
        <ons-col width="48px" align="center">
          <ons-icon size="24px" fixed-width="true" icon="{{icon}}"></ons-icon>
        </ons-col>
        <ons-col align="center"><div style="font-size:88%; line-height:135%;"><div style="text-align:left;">{{message}}</div></ons-col>
      </one-row>
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/onsenui/build/js/onsenui.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/db.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
