<div class="settings">
    <ons-list>
        <ons-list-header></ons-list-header>

        <ons-list-item modifier="tappable">
            <ons-icon icon="fa-user" class="fa-fw">
            </ons-icon>
            <input type="text" class="text-input text-input--transparent" placeholder="Mein Name" style="margin-top: 7px">
            <!--input type="text" id="name" ng-model="prefs.name" -->
        </ons-list-item>

        <ons-list-header></ons-list-header>

        <ons-list-item>
            <ons-icon icon="fa-arrows-h" class="fa-fw"></ons-icon>
            Namenslänge
            <b class="pull-right">max. {{prefs.maxlength}} Zeichen</b>
            <ons-row>
                <ons-col class="range-wrapper">
                    <input type="range" min="3" max="10" class="range" ng-model="prefs.maxlength"
                           ng-change="checkMinMax('max')">
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-header></ons-list-header>

        <ons-list-item modifier="tappable">
            <label class="checkbox checkbox--list-item" for="gender-male">
                <ons-icon icon="fa-male" class="fa-fw"></ons-icon>
                Männliche Namen
                <input type="checkbox" id="gender-male" ng-model="prefs.male">

                <div class="checkbox__checkmark checkbox--list-item__checkmark pull-right"></div>
            </label>
        </ons-list-item>
        <ons-list-item modifier="tappable">
            <label class="checkbox checkbox--list-item" for="gender-female">
                <ons-icon icon="fa-female" class="fa-fw"></ons-icon>
                Weibliche Namen
                <input type="checkbox" id="gender-female" ng-model="prefs.female">

                <div class="checkbox__checkmark checkbox--list-item__checkmark pull-right"></div>
            </label>
        </ons-list-item>

        <!-- BEGIN NO CONNECTION -->

        <ons-list-header></ons-list-header>
        <ons-list-item ng-hide="connection.active" class="question">
            <ons-row class="heading">Verbindung herstellen</ons-row>
            <ons-row>Diesen Code kannst du deinem Partner geben:</ons-row>
            <ons-row><code style="font-weight:bold; font-size:150%;">{{connection.code}}</code></ons-row>
            <hr/>
            <ons-row>Hast du einen Code bekommen?</ons-row>
            <ons-row><input type="text" ng-model="inputCode" placeholder="Code einfügen"
                            style="font:150% monospace; border:0;"/></ons-row>
            <ons-row>
                <ons-col><input type="button" ng-click="doConnect()" value="Verbinden"/></ons-col>
            </ons-row>
        </ons-list-item>

        <!-- END NO CONNECTION -->


        <!-- BEGIN CONNECTION IS ACTIVE -->

        <ons-list-item ng-show="connection.active" class="question">
            <ons-row class="heading">Verbindung hergestellt</ons-row>
            <ons-row>Du verwendest natch gemeinsam mit&nbsp;<b>{{connection.name}}</b>.</ons-row>
            <ons-row>
                <input type="button" value="Verbindung entfernen" ng-click="removeConnection()"/>
            </ons-row>
        </ons-list-item>

        <!-- END CONNECTION IS ACTIVE -->

        <ons-list-header></ons-list-header>

        <ons-list-item modifier="tappable">
            Erzähle deinen Freunden von natch.
        </ons-list-item>

        <ons-list-item modifier="tappable">
            Fragen? Ideen? Kontaktiere uns!
        </ons-list-item>

    </ons-list>
</div>