<!-- BEGIN NO CONNECTION -->

<div class="question" ng-hide="connection.active">
	<ons-row class="heading">Verbindung herstellen</ons-row>
	<ons-row>Diesen Code kannst du deinem Partner geben:</ons-row>
	<ons-row><code style="font-weight:bold; font-size:150%;">{{connection.code}}</code></ons-row>
	<hr/>
	<ons-row>Hast du einen Code bekommen?</ons-row>
	<ons-row><input type="text" ng-model="inputCode" placeholder="Code einfügen" style="font:150% monospace; border:0;" /></ons-row>
	<ons-row>
		<ons-col><input type="button" ng-click="doConnect()" value="Verbinden"/></ons-col>
	</ons-row>
</div>

<!-- END NO CONNECTION -->


<!-- BEGIN CONNECTION IS ACTIVE -->

<div class="question" ng-show="connection.active">
	<ons-row class="heading">Verbindung hergestellt</ons-row>
	<ons-row>Du bist mit&nbsp;<b>{{connection.name}}</b>&nbsp;verbunden.</ons-row>
	<ons-row>
		<input type="button" value="Verbindung entfernen" ng-click="removeConnection()"/>
	</ons-row>
</div>

<!-- END CONNECTION IS ACTIVE -->

<div class="question">
	<ons-row class="heading">Einstellungen</ons-row>
	<ons-row>Hallo {{preferences.name}}!</ons-row>
	<ons-row>
		<input type="checkbox" id="gender-male" ng-model="prefs.male"><label for="gender-male">männliche Namen</label><br/>
		<input type="checkbox" id="gender-female" ng-model="prefs.female"><label for="gender-female">weibliche Namen</label><br/>
	</ons-row>
	<ons-row><input type="number" id="length" ng-model="prefs.maxlength" style="width:50px;">&nbsp;<label for="length">maximale Länge</label></ons-row>
</div>
