<div class="voter">
	<ons-gesture-detector ng-swipeleft="tearOff('left')" ng-swipeup="tearOff('down')">
		<ons-row class="back"><ons-col align="center"><ons-icon size="80%" icon="fa-check"></ons-icon> {{message}}</ons-col></ons-row>
		<ons-row ng-class="{gone_left: gone.left, gone_down: gone.down}">
			<ons-col align="center">{{name.record.name}}</ons-col>
		</ons-row>
	</ons-gesture-detector>
</div>

<div class="voting-info"><ons-icon icon="fa-info"></ons-icon> <span>{{name.record.likes}} Likes</span></div>

<div class="voting-like-dislike">
	<ons-gesture-detector ng-click="tearOff('left')" style="display:inline;">
		<button class="dislike"><ons-icon size="3x" icon="fa-thumbs-down"></ons-icon></button>
	</ons-gesture-detector>
	<ons-gesture-detector ng-click="tearOff('right')" style="display:inline;">
		<button class="like"><ons-icon size="3x" icon="fa-thumbs-up"></ons-icon></button>
	</ons-gesture-detector>
</div>
